; ------------------------------------------------------------------------------
; File: legohdl.cfg
; Description:
;     A properties file to configure the package manager and development tool,  
;  legoHDL.
; Help:
;     For more information on how to edit this file, read the documentation at 
; ___.
; ------------------------------------------------------------------------------

; --- General settings ---
; Description:
;     Various assignments related to the tool in general.
[GENERAL]
    key  = 10
    ; some special key!
    key2 = hello world!
    key3 = 'this is a string"; = without comments!'

    [.level2a]
        key0 = 10

    [.level2b]
        key0 = 0

    [.level2c]
        KeY9 = 1

; --- Plugin settings ---
; Description:
;     User-defined aliases to execute plugins (scripts/tools/commands).
; Assignments can be either a string or list of strings separated by commas.
; Value:
;     <alias> = <command>
[PLUGIN]
    modelsim = echo 'go gators!'
               c:/thispathwillbetoolongtofitontoasinglelineunless/multilinewrapping/isused/d
               -g GO 1 -g N 8

[block]
    name     = lab1
    library  = eel4712c
    vendor   = uf-ece
    version  = 0.0.0
    summary  = This is a multiline summary easily presented to the user so that 
               all can be understood visually and within syntax.
    requires = (
        eel4712c.lab2(latest-@v1.0.0),
        eel4712c.lab4(latest-v2-v2.1-@v2.1.0),
        eel4712c.lab3(latest-v3-v3.1-@v3.1.0),
        eel4712c.lab7(unstable-@v0.0.1))
    VeRSIONS = 11

; --- Label settings ---
; Description:
;     User-defined groupings of filetypes, to be collected and written to the
; blueprint file on export. Labels help bridge a custom workflow with the user's
; backend tool.
[LABEL]

    ; Description:
    ;     Find these files throughout all blocks used in the current design.
    ; Value:
    ;     <label> = <file-extension>
    [.GLOBAL]
        BOARD-DESIGN = *.bdf

    ; Description:
    ;     Find these files only throughout the current block.
    ; Value:
    ;     <label> = <file-extension>
    [.LOCAL]
        XDC = *.xdc

; --- Workspace settings ---
; Description:
;     User-defined spaces for working with blocks. Blocks must appear in the
; workspace's path to be recognized as downloaded. Multiple vendors can be
; configured to one workspace and vendors can be shared across workspaces. Block
; downloads and installations in one workspace are separate from those of
; another workspace.
; Value:
;     [.<workspace>]
;         path = <path>
;         vendors = (<vndr0>, <vndr1>, ...)
[workspace]

    [.EEL4712C]
        path    = /this/way/
        vendors = (uf-ece)
